bug: AATH interop tests are failing on establishing connections

* Are you filing a bug report? Yes

**What I'm trying to do**
Running the AATH test cases for ACA-Py and AF-Go



**Expected result**

Many of the tests fail on the step:

```
    Given "2" agents                                                                                                                                      # features/steps/0160-connection.py:22 0.000s
      | name  | role     |
      | Faber | verifier |
      | Bob   | prover   |
    And "Faber" and "Bob" have an existing connection      
```

**Actual result**


With error:

      Assertion Failed: FAILED SUB-STEP: And "Bob" receives the invitation
      Substep info: Assertion Failed: resp_status 500 is not 200; {"code":11002,"message":"out-of-band service failed to accept invitation : failed to accept invitation : failed to handle invitation: failed to execute state prepare-response: didexchange service failed to handle inbound invitation: failed to fetch connection record : failed to get the did service block from oob invitation : failed to resolve service=did:sov:RY5Uim92B84VBAuBdxYbh6 : did method read failed failed: unsupported response from DID resolver [500] header [] body [Resolve problem for did:sov:RY5Uim92B84VBAuBdxYbh6: Driver reported for did:sov:RY5Uim92B84VBAuBdxYbh6: Cannot create pool config \"_\": org.hyperledger.indy.sdk.IOException: An IO error occurred.]"}

Perhaps the resolver AF-Go (or AF-Go-Interop) is using is not longer working?

**Sample code / test case**

To run this:

- Clone AATH (https://github.com/hyperledger/aries-agent-test-harness)
- In root run commands:

```
./manage build -a acapy-main -a afgo-interop
./manage service start von-network; ./manage service start indy-tails; ./manage service start uniresolver;  ./manage service start orb
# Subset of tests:
./manage run -d acapy-main -b afgo-interop -v 20 -t @T001-RFC0454
# Or full ACA-Py AF-Go test set
./manage run -d acapy-main -b afgo-interop -v 20 -t @RFC0023,@RFC0453,@RFC0454,@RFC0025 -t ~@wip -t ~@CredFormat_Indy -t ~@Transport_NoHttpOutbound -t ~@Transport_Ws -t ~@RFC0160 -t ~@RFC0434 -t ~@DidMethod_orb
# Rerun tests as needed with services running
./manage service stop von-network; ./manage service stop indy-tails; ./manage service stop uniresolver;  ./manage service stop orb
```