Release 0.1.0

Draft release notes:

**Aries Framework Go**
The [aries](https://godoc.org/github.com/hyperledger/aries-framework-go/pkg/framework/aries)  package provides access to clients being managed by the Framework.

1. Provides KMS (Key Management System).
2. Provides protocol provider factory interface.
3. Provides injectable storage. (LevelDB is provided in 0.1.0.)
4. Provides DID Resolver. ([HTTPS binding](https://w3c-ccg.github.io/did-resolution/#bindings-https) is provided in 0.1.0.)
5. Provides inbound/outbound dispatcher service. ([HTTP transport](https://github.com/hyperledger/aries-rfcs/tree/master/features/0025-didcomm-transports#https) is provided in 0.1.0.)

Note: these interfaces are preliminary and we plan to update as the pluggable API interfaces become more clear across the community.

The Go framework currently supplies Go native default implementations for all pluggable interfaces, and hence, has no dependency requirements in 0.1.0.

**Demonstrations**
- BDD tests show the flow of DID Exchange and DID resolution (against Sidetree).
  - Run `make bdd-test` in the cloned repository after installing dependencies (see [README](https://github.com/hyperledger/aries-framework-go#targets)).
- OpenAPI (swagger) can be used to perform DID Exchange between agents.
  - Run `make run-openapi-demo` in the cloned repository after installing dependencies (see [README](https://github.com/hyperledger/aries-framework-go/#running-demo-locally)).

**Aries Protocol RFC Services**

1. [RFC 0023: DID Exchange Protocol 1.0](https://github.com/hyperledger/aries-rfcs/tree/master/features/0023-did-exchange)
  - Manages messages and protocol state.
  - Send events to controller logic.
  - did:peer and resolvable "public" DIDs are supported.
  - Not yet implemented: Problem report, Implicit invitation.

Note: [RFC 0028: Introduce 1.0](https://github.com/hyperledger/aries-rfcs/tree/master/features/0028-introduce) code is incomplete (targeted for 0.1.1).

**Controller Bindings**

1. DID Exchange Protocol 1.0
  - [Go](https://godoc.org/github.com/hyperledger/aries-framework-go/pkg/client/didexchange)
  - [REST](https://godoc.org/github.com/hyperledger/aries-framework-go/pkg/restapi/operation/didexchange)
  - Not yet implemented: C, WASM.

**Data and Document Formats**

1. [RFC 0019 AuthCrypt DIDComm envelope](https://github.com/hyperledger/aries-rfcs/tree/master/features/0019-encryption-envelope)
2. [Draft JWE DIDComm envelope](https://github.com/hyperledger/aries-rfcs/issues/133)
3. DID document parser.

Note: The verifiable credential code is incomplete but is being actively tested against the W3C test suite as it is developed. (JWT subset targeted for 0.1.1).


Aries Framework:  Go Aries Framework provides Configurable options to facilitate agent to agent communication using did exchange protocol
	1.	Provides KMS (Key management System) service
	2.	Provides protocol provider factory interface
	3.	Provides injectable storage
	4.	Provides DID Resolver
	5.	Provides inbound/outbound dispatcher service
 
Aries Protocol RFC:
	1.	Go Implementation of Aries RFC 0023: DID Exchange Protocol 1.0
	1.	Manages messages and protocol state
	2.	Send Events to controller and agent
	2.	Not Implemented:
	1.	Problem report of the DID exchange Protocol. 