docs: list supported Aries RFCs

**Protocols**

Connection Establishment:
RFC 0434 - Out of Band
RFC 0023 - DID Exchange
RFC 0028 - Introduce

Credentials:
RFC 0453 - Issue Credential v2 (with middleware injection for attachments)
RFC 0454 - Present Proof v2 (with middleware injection for attachments)

Routing:
RFC 0094 - Forward Message
RFC 0211 - Route Coordination
RFC 0212 - Message Pickup
RFC 0092 - Transport Return Route

**DIDComm and Transports**
RFC 0025 - DIDComm Transports (HTTP and WebSocket)
RFC 0334 - JWE Envelopes (default)
RFC 0019 - Encryption Envelope (non-default; deprecated; not fully supported in pluggable KMS).
RFC 0067 - DIDComm DIDDoc conventions



**DIDComm and Transports**
RFC0035 Report Problem
RFC0042 LOX
RFC0351 Purpose Decorator
