0.1.4 Release Notes

Enhancements:

* [Aries Agent Mobile](https://github.com/hyperledger/aries-framework-go/blob/master/cmd/aries-agent-mobile/README.md): mobile bindings for all protocols
* DIF [Presentation-Exchange](https://identity.foundation/presentation-exchange/) (initial support)
* [RFC0453 - Issue Credential V2](https://github.com/hyperledger/aries-rfcs/blob/master/features/0453-issue-credential-v2/README.md)
* [RFC0454 - Present Proof V2](https://github.com/hyperledger/aries-rfcs/blob/master/features/0454-present-proof-v2/README.md)
* Ability to forward action/state events through the WebSocket transport
* `didexchange.Client.CreateConnection()`: ability to create a didcomm connection record without running the didexchange protocol
* Ability to associate saved credentials and presentations with `myDID` and `theirDID`
* [RFC0434 - Out-of-Band Protocols](https://github.com/hyperledger/aries-rfcs/blob/master/features/0434-outofband/README.md): added JavaScript and REST bindings
* [RFC0028 - Introduce](https://github.com/hyperledger/aries-rfcs/blob/master/features/0028-introduce/README.md): added JavaScript and REST bindings
* TLS support for all inbound transports (wss, https)
* [Middleware handlers](https://github.com/hyperledger/aries-framework-go/pull/1859) for issue-credential and present-proof

Fixes:

* aries-js-worker: Safari error "Could not decode a text frame as UTF-8." in WebSocket Communication 

Breaking changes:

* TODO: The Legacy KMS has been removed from the framework.

[0434-outofband](https://github.com/hyperledger/aries-rfcs/tree/master/features/0434-outofband)

Maybe include https://github.com/hyperledger/aries-framework-go/pull/2141 once merged. It has a detailed explanation of the architecture.

release notes are live: https://github.com/hyperledger/aries-framework-go/releases/tag/v0.1.4